<!doctype html>
<!-- Feel free to look around. This is how I do things, but that does not mean
it's the best possible way – look and learn, then improve! -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Boiler code">
  <meta name="author" content="boiler.codes / Atle Mo">
  <meta name="theme-color" content="#2A2DD2">
  <title>Template 001 | Boiler Codes</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
  <link rel="icon" href="../favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->

</head>

<div class="container">
  <div class="hero">
    <h1>The Company</h1>
    <h2>Selling that product you love.</h2>
    <div class="cta-wrapper">
      <a href="#awesomeproduct" class="cta">Learn more</a> <a href="#" class="cta outline">Watch a video</a>
    </div>
  </div>
  <div class="content" id="awesomeproduct">
    <div class="text-and-picture-container">
      <div class="text">
        <h2>Most amazing thing ever</h2>
        <p>Ugh lomo fingerstache chartreuse wayfarers. Drinking vinegar normcore snackwave neutra. Pork belly hella try-hard marfa coloring book, semiotics prism. Etsy polaroid knausgaard portland try-hard art party. Helvetica seitan paleo disrupt messenger bag, cray fingerstache asymmetrical af blog air plant banh mi pitchfork waistcoat migas. Chambray pug unicorn kombucha roof party yr. Listicle dreamcatcher typewriter, selvage normcore selfies mumblecore austin iceland skateboard venmo 90's iPhone.</p>
        <a href="#">Go get that thing</a>
      </div>
      <div class="dummy-img">1</div>
    </div>

    <div class="text-and-picture-container flipped">
      <div class="text">
        <h2>It's even better than the other thing</h2>
        <p>Hammock farm-to-table pug, leggings cornhole pork belly irony truffaut whatever listicle tousled gastropub narwhal. Bitters church-key four dollar toast fashion axe art party keytar. Lumbersexual flexitarian microdosing skateboard, selvage knausgaard disrupt biodiesel raw denim locavore gastropub. Photo booth aesthetic hoodie enamel pin ethical, everyday carry sustainable meggings vegan messenger bag. Kitsch 3 wolf moon neutra kinfolk kombucha, four dollar toast skateboard stumptown swag fap banjo. Green juice you probably haven't heard of them disrupt seitan iPhone 8-bit, kombucha DIY farm-to-table. Bushwick health goth deep v succulents.</p>
        <a href="#">You know you need to click</a>
      </div>
      <div class="dummy-img">2</div>
    </div>
  </div>
  <div class="secondary-cta">
    <div class="cta-wrapper">
      <h2 class="blue pad-right">It's time to make up your mind: </h2>
      <a href="#" class="cta">Buy the thing</a> <a href="#" class="cta outline">Watch a video</a>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>Me © 2017 – Cause you need a footer</p>
    <a href="#">Some important link</a>
  </div>
</footer>

</body>
</html>
