<!doctype html>
<!-- Feel free to look around. This is how I do things, but that does not mean
it's the best possible way – look and learn, then improve! -->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Boiler code">
  <meta name="author" content="boiler.codes / Atle Mo">
  <meta name="theme-color" content="#2A2DD2">
  <title>Template 003 | Boiler Codes</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="../../../../favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->

</head>

<div class="container">
  <div class="element header">Header</div>
  <div class="element sidebar">
    <ul>
      <li class="cta"><a href="#">About Me</a></li>
      <li class="cta"><a href="#">Favourite Lego kits</a></li>
      <li class="cta"><a href="#">Dear Diary</a></li>
      <li class="cta"><a href="#">Get in touch</a></li>
    </ul>
  </div>
  <div class="element main">
    <div class="post">
      <div class="img-placeholder">1</div>
      <h2>And so it began</h2>
      <h1>Hello World</h1>
      <p><time datetime="2024-05-15 20:00">May 15th - 2024</time></p>
      <p>Lumbersexual butcher hoodie pour-over, intelligentsia polaroid tilde
        fam ugh squid flannel succulents quinoa williamsburg. Neutra plaid pok
        pok shabby chic, meditation small batch taxidermy. Dreamcatcher bespoke
        chambray hashtag pinterest celiac. Echo park quinoa gluten-free mustache,
        before they sold out roof party post-ironic +1 hell of green juice air
        plant etsy. Tote bag sartorial gochujang fap trust fund, VHS marfa direct
        trade tousled cronut gastropub. Everyday carry live-edge meditation fixie,
        ugh williamsburg sustainable. Hexagon poutine prism, normcore ethical
        kickstarter try-hard twee seitan edison bulb.</p>
        <a href="#">I'm a link and I go places →</a>
    </div>

    <div class="post">
      <div class="img-placeholder">2</div>
      <h2>Deep below the surface</h2>
      <h1>The Jellyfish stung me</h1>
      <p><time datetime="2024-05-15 20:00">May 15th - 2024</time></p>
      <p>Lumbersexual butcher hoodie pour-over, intelligentsia polaroid tilde
        fam ugh squid flannel succulents quinoa williamsburg. Neutra plaid pok
        pok shabby chic, meditation small batch taxidermy. Dreamcatcher bespoke
        chambray hashtag pinterest celiac. Echo park quinoa gluten-free mustache,
        before they sold out roof party post-ironic +1 hell of green juice air
        plant etsy. Tote bag sartorial gochujang fap trust fund, VHS marfa direct
        trade tousled cronut gastropub. Everyday carry live-edge meditation fixie,
        ugh williamsburg sustainable. Hexagon poutine prism, normcore ethical
        kickstarter try-hard twee seitan edison bulb.</p>
        <a href="#">I'm a link and I go places →</a>
    </div>

    <div class="post">
      <div class="img-placeholder">3</div>
      <h2>Welcome to the jungle</h2>
      <h1>Hello World</h1>
      <p><time datetime="2024-05-15 20:00">May 15th - 2024</time></p>
      <p>Lumbersexual butcher hoodie pour-over, intelligentsia polaroid tilde
        fam ugh squid flannel succulents quinoa williamsburg. Neutra plaid pok
        pok shabby chic, meditation small batch taxidermy. Dreamcatcher bespoke
        chambray hashtag pinterest celiac. Echo park quinoa gluten-free mustache,
        before they sold out roof party post-ironic +1 hell of green juice air
        plant etsy. Tote bag sartorial gochujang fap trust fund, VHS marfa direct
        trade tousled cronut gastropub. Everyday carry live-edge meditation fixie,
        ugh williamsburg sustainable. Hexagon poutine prism, normcore ethical
        kickstarter try-hard twee seitan edison bulb.</p>
        <a href="#">I'm a link and I go places →</a>
    </div>
  </div>
  <div class="element footer">
    <p>Me © 2017 – Cause you need a footer</p>
  </div>
</div>

</body>
</html>
