body {
  margin: 0;
  padding: 0;
  background: #2A2DD2;
  color: white;
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}
/* Typography */

h1 {
  display: inline-flex;
  font-size: 3em;
  color: #2A2DD2;
  margin: 0;
}
h2 {
  font-size: 1.2em;
  margin: 0;
}
.hero h2 {
  margin-bottom: 30px;
}
h2.blue {
  color: #2A2DD2;
}
p {
  font-size: 0.9em;
}
a {
  color: #00EA9C;
}
time {
  font-weight: 600;
}

/* Layout adjustments */
.pad-right {
  padding-right: 22px;
}

/* Layout components */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-color: #00ea9c;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%232a2dd2' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  /* Sexy pattern from http://www.heropatterns.com/ */
}
.content {
  max-width: 1100px;
  padding: 40px;
}
.text-and-picture-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 40px;
}
.text-and-picture-container.flipped {
  flex-direction: row-reverse;
}
.text-and-picture-container.flipped .text {
  padding-right: 0;
  padding-left: 40px;
  margin-left: 20px;
  margin-right: 0;
}
.text-and-picture-container .text {
  padding-right: 40px;
  margin-right: 20px;
}
.text-and-picture-container .dummy-img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  min-width: 400px;
  height: 200px;
  background-color: #2a2dd2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%2300ea9c' fill-opacity='0.35'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  /* Sexy pattern from http://www.heropatterns.com/ */
}
.secondary-cta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #00ea9c;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%232a2dd2' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  /* Sexy pattern from http://www.heropatterns.com/ */
}

/* UI elements */
.cta-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.cta {
  display: inline-flex;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border: 3px solid transparent;
  background-color: #2a2dd2;
  margin-right: 12px;
}
.cta:last-of-type {
  margin-right: 0;
}
.cta.outline {
  color: #2a2dd2;
  border: 3px solid #2a2dd2;
  background-color: transparent;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #2426b3;
}
footer .container {
  width: 100%;
  max-width: 1100px;
  padding: 40px;
  justify-content: space-between;
  flex-direction: row;
}

/* The responsive bits, called media queries */
@media screen and (max-width: 760px) { /* Screens 760px or less */
  h1 {
    font-size: 250%;
  }
  .text-and-picture-container, .text-and-picture-container.flipped {
    flex-direction: column-reverse;
  }
  .text-and-picture-container .text {
    margin-top: 30px;
  }
  .text-and-picture-container .dummy-img {
    min-width: 100%;
  }
  .cta-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .cta {
    margin-right: 0;
    margin-bottom: 6px;
  }
  .text-and-picture-container.flipped .text {
    padding-left: 0;
    margin-left: 0;
  }
}
